* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --select-padding-size: 1rem;
    --select-wrapper-padding-size: 0.5rem;
    --border-size: .125rem;
    --border-radius-size: 0.5rem;

    --background-color: #17171f;
    --border-color: #2f2f37;

    --hover-color: #37373f;
    --focus-color: #53535b;

    --input-text-color: #f7f7ff;
    --label-text-color: #6f6f7f;

    --scrollbar-thumb-color: #87878f;
    --scrollbar-thumb-hover-color: #0000ff;
}

body {
    display: flex;
    justify-content: center;

    height: 100vh;
    padding-block:  8.5vh;
    padding-inline: 5rem;

    font-family: sans-serif;

    background-color: var(--background-color);
}

main {
    display: inline-flex;
    flex-direction: column;
    gap: 8.5vh;
}

@media (min-width: 50rem) {
    body {
        align-items: center;
    }

    main {
        flex-direction: row;
    }
}

.field-wrapper {
    display: inline-grid;
    gap: 1rem;
}

.field-wrapper > .label {
    font-size: 1.5rem;
    color: var(--label-text-color);
}

.select-wrapper {
    display: inline-flex;
    
    align-items: center;
    gap: 0.5rem;
    padding: var(--select-wrapper-padding-size) 1.5rem;
    border: var(--border-size) solid var(--border-color);
    
    font-size: 3.5rem;

    border-radius: var(--border-radius-size);
    color: var(--input-text-color);
}

.select {
    position: relative;
}

.select-value,
.select-option {
    box-sizing: content-box;
    display: block;

    width: 2ch;
    padding: 0.5rem;

    text-align: center;
    background-color: var(--background-color);
    cursor: pointer;
}

.select-value {
    border: none;
    outline: none;
    border-radius: var(--border-radius-size);
}

.select-value:hover,
.select-option:hover {
    background-color: var(--hover-color);
}

.select-value:active,
.select-value:focus,
.select-option.selected {
    background-color: var(--focus-color);
}

.select-options {
    display: none;
    position: absolute;
    left: calc(-1 * var(--border-size));
    top: calc(100% + var(--select-wrapper-padding-size) + var(--border-size) + 0.5rem);
    z-index: 1;

    height: 300%;
    border: var(--border-size) solid var(--border-color);

    list-style: none;
    overflow-x: hidden;

    border-radius: var(--border-radius-size);
}

.select.open .select-options {
    display: block;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    margin-block: 0.25rem;
    background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 100vmax;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover-color);
}

/*
:root {
    --select-padding-size: 1rem;
    --select-wrapper-padding-size: 0.5rem;
    --border-size: .125rem;
    --border-radius-size: 0.5rem;

    --background-color: rgb(23, 23, 31);
    --border-color: rgb(47, 47, 55);

    --hover-color: rgb(55, 55, 63);
    --focus-color: rgb(83, 83, 91);

    --input-text-color: rgb(247, 247, 255);
    --label-text-color: rgb(111, 111, 127);

    --scrollbar-thumb-color: rgb(135, 135, 143);
    --scrollbar-thumb-hover-color: rgb(0, 0, 255);
}
*/